recipeRelax.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"
start = root
root = element root { title, ogrecipe, newRecipe}
title = element title {text}
ogrecipe = element ogrecipe {measurement+, ingredient+, quantity, action, modern}
context = element context {source, person, city, date+}
source = element source {text}
person = element person {text}
city = element city {text}
date = attribute date {"year"}
newRecipe = element newRecipe { callsFor, tool, action+, measurement+, suggestion+, time}
callsFor = element callsFor {text}
tool = element tool {text}
action = element action {step, text}
step = attribute step {"1" | "2"| "3"| "4"| "5"}
measurement = element measurement {text}
suggestion = element suggestion {text}
time = element time {text}
modern = element modern {word, text}
word = attribute word {"roll"}
quantity = element quantity {text}
ingredient = element ingredient {type, text}
type = attribute type {"dairy" | "bakery+" | "spice"}